.blog {
  padding: 0 0 120px 0;

  h2 {
    margin: 0 0 20px 0;
    letter-spacing: 0.03em;
  }

  @include tablet {
    padding: 0 0 70px 0;
  }

  @include mobile {
    padding: 0 0 62px 0;
  }
}

.blog__articles-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 48.72%;

  @include tablet {
    width: 100%;
    flex-direction: column;
  }
}

.blog__articles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include tablet {
    display: flex;
    justify-content: center;
  }
}

.blog__link {
  margin: 0 0 65px 0;

  @include mobile {
    margin: 0 0 55px 0;
  }
}

.blog__article {
  display: flex;
  justify-content: center;

  width: 100%;

  &--second {
    margin: 30px 0 0 0;
  }

  &--big {
    position: relative;

    width: 48.72%;

    display: block;
  }

  @include tablet {
    margin: 0 0 50px 0;
    width: 100%;

    &--big {
      margin: 0;

      display: flex;
      justify-content: center;
    }
  }

  @include mobile {
    margin: 0 0 40px 0;
    display: block;
    width: 290px;

    &--second {
      .blog__article-info {
        order: 1;
      }
    }

    &--big {
      margin: 0;
      width: 290px;
    }
  }
}

.blog__picture-wrap {
  width: 50%;

  display: flex;
  justify-content: flex-end;

  &--second {
    justify-content: flex-start;
    order: 1;
  }

  &--big {
    width: 100%;
  }

  @include tablet {
    width: 339px;

    &--big {
      width: 339px;
    }
  }

  @include mobile {
    width: 290px;

    &--big {
      width: 290px;
    }
  }
}

.blog__picture {
  display: block;

  max-width: 100%;
  height: auto;

  @include tablet {
    width: 339px;
    height: 300px;
  }

  @include mobile {
    width: 290px;
    height: 256px;
  }
}

.blog__article-info {
  padding: 0 10%;
  width: 50%;

  background-color: $bg-grey;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--big {
    position: absolute;
    right: 0;
    bottom: 0;

    padding: 0 10%;

    width: 50%;
    min-height: 50%;
  }

  p {
    @include reset;
    @include text(500, 14px, 130%);
    margin: -9px 0 12px 0;
    color: $grey;
  }

  h3 {
    @include reset;
    @include text(600, 26px, 130%);
    margin: 0 0 40px 0;
    font-family: "CormorantGaramond", "PTSerif", serif;
    color: $black;
    width: 100%;

    span {
      padding: 0 0 0 5px;
    }
  }

  @include tablet {
    padding: 0 12.98%;
    width: 339px;

    &--big {
      padding: 0 12.98%;
      position: static;

      width: 339px;
      min-height: 100%;
    }
  }

  @include mobile {
    padding: 45px 22% 55px;
    width: 290px;

    &--big {
      padding: 61px 22% 70px;
      width: 290px;
      min-height: auto;
    }

    p {
      margin: 0 0 12px 0;
    }
  }
}
