.blog {
  padding: 0 0 120px 0;

  h2 {
    margin: 0 0 20px 0;
    letter-spacing: 0.03em;
  }

  @include tablet {
    padding: 0 0 70px 0;
  }

  @include mobile {
    padding: 0 0 62px 0;
  }
}

.blog__articles-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;

  width: 48.72%;

  @include tablet {
    display: block;

    width: 100%;
  }
}

.blog__articles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include tablet {
    display: block;
  }
}

.blog__link {
  margin: 0 0 65px 0;

  @include mobile {
    margin: 0 0 55px 0;
  }
}

.blog__article {
  display: table;

  width: 100%;

  &--second {
    margin: 30px 0 0 0;

    .blog__article-info {
      order: -1;
    }
  }

  &--big {
    position: relative;

    width: 48.72%;

    .blog__article-info {
      position: absolute;
      right: 0;
      bottom: 0;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 50%;
      min-height: 50%;
      box-sizing: border-box;
    }
  }

  @include tablet {
    margin: 0 0 50px 0;
    width: 100%;

    &--big {
      position: initial;
      margin: 0;

      .blog__article-info {
        position: initial;

        width: 50%;

        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  @include mobile {
    margin: 0 0 40px 0;
    display: flex;
    flex-direction: column;

    &--second {
      .blog__article-info {
        order: 0;
      }
    }

    &--big {
      margin: 0;

      .blog__article-info {
        padding: 61px 22% 70px;
        width: 100%;
      }
    }
  }
}

.blog__picture-wrap {
  width: 50%;

  display: table-cell;
  vertical-align: top;

  &--big {
    width: 100%;
  }

  @include tablet {
    &--big {
      width: 50%;
    }
  }

  @include mobile {
    width: 100%;
  }
}

.blog__picture {
  display: block;

  max-width: 100%;
  height: auto;

  @include tablet {
    width: 339px;
    height: 300px;
  }

  @include mobile {
    width: 290px;
    height: 256px;
  }
}

.blog__article-info {
  padding: 0 10% 0;

  width: 50%;

  display: table-cell;
  vertical-align: middle;

  background-color: $bg-grey;
  box-sizing: border-box;

  p {
    @include reset;
    @include text(500, 14px, 130%);
    margin: 0 0 12px 0;
    color: $grey;
  }

  h3 {
    @include reset;
    @include text(600, 26px, 130%);
    margin: 0 0 40px 0;
    font-family: "CormorantGaramond", "PTSerif", serif;
    color: $black;

    span {
      padding: 0 0 0 5px;
    }
  }

  @include tablet {
    padding: 68px 13% 76px;
  }

  @include mobile {
    padding: 45px 22% 55px;
    width: 100%;
  }
}
