.card {
  margin: 0 auto;
  padding: 70px 0 10px;
  width: calc(100% - 40px);
  max-width: 1170px;

  @include tablet {
    padding: 20px 0 10px;
    width: calc(100% - 90px);
  }

  @include mobile {
    padding: 0;
    width: calc(100% - 30px);
  }
}

.card__product {
  display: flex;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
  }
}

.card__photos {
  padding: 10px 0 0 0;
  width: 51.28%;

  display: flex;
  justify-content: space-between;

  @include tablet {
    width: 47.05%;
    height: auto;
    flex-direction: column;
  }

  @include mobile {
    position: relative;
    margin: 0 0 26px 0;
    padding: 0;
    width: 100%;
  }
}

.card__photos-wrap {
  margin: 0 5% 0 0;
  width: 16.67%;

  @include tablet {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.card__photo-wrap {
  margin: 0 0 30px 0;
  width: 100%;

  @include tablet {
    margin: 0;
    width: 30.4%;
    display: flex;
    justify-content: flex-start;
  }

  @include mobile {
    display: none;
  }
}

.card__photo-wrap-big {
  width: 78.33%;

  @include tablet {
    margin: 0 0 14px 0;
    width: 100%;
    order: -1;
  }

  @include mobile {
    position: relative;
  }
}

.card__photo {
  display: block;

  max-width: 100%;
  height: auto;

  @include tablet {
    width: 97px;
    height: 129px;

    &--big {
      width: 319px;
      height: 286px;
    }
  }

  @include mobile {
    &--big {
      margin: 0;

      width: 290px;
      height: 260px;
    }
  }
}

.card__photo-num {
  display: none;

  @include mobile {
    @include text(500, 14px, 18.2px);
    position: absolute;
    bottom: 20px;
    left: 128px;
    display: block;
  }
}

.card__info {
  width: 40.17%;
  text-align: left;

  h3 {
    @include reset;
    @include text(700, 34px, 130%);

    margin: 0 0 12px 0;
    width: 78.73%;

    font-family: "CormorantGaramond", "PTSerif", serif;
    color: $dark;
    text-transform: capitalize;
  }

  p {
    @include reset;
    @include text(400, 26px, 33.8px);

    margin: 0 0 40px 0;
    width: 78.73%;

    color: $dark;
  }

  @include tablet {
    margin: 0;
    width: 47.06%;

    p {
      margin: 0 0 40px 0;
    }
  }

  @include mobile {
    width: 100%;

    p {
      margin: 0 0 28px 0;
    }
  }
}

.card__info-list {
  @include reset;

  margin: 0 0 22px 0;
  width: 78.73%;

  display: flex;
  justify-content: space-between;

  &:first-of-type {
    margin: 0 0 30px 0;
    justify-content: flex-start;
  }

  @include tablet {
    width: 100%;
  }

  @include mobile {
    &:first-of-type {
      margin: 0 0 32px 0;
    }
  }
}

.card__info-list-dt {
  &--big {
    @include text(500, 16px, 130%);

    margin: 0 35px 0 0;
    color: $grey;

    @include mobile {
      margin: 0 38px 0 0;
    }
  }

  &--small {
    @include text(500, 14px, 130%);
  }
}

.card__info-list-dd {
  @include reset;

  &--big {
    @include text(500, 16px, 130%);
  }

  &--small {
    @include text(500, 14px, 130%);
  }
}

.card__button {
  margin: 13.19% 0 3.19% 0;
  width: 78.73%;

  @include tablet {
    margin: 62px 0 14px 0;
    width: 100%;
  }

  @include mobile {
    margin: 52px 0 12px 0;
  }
}

.card__conditions {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  width: 78.73%;

  p {
    @include reset;
    @include text(500, 14px, 130%);

    margin: 0 7.29% 0 0;

    white-space: nowrap;
    width: 31.89%;


    color: $grey;

    &:first-of-type {
      width: 27.56%
    }

    &:last-of-type {
      margin: 0;
      width: 25.94%
    }
  }

  @include tablet {
    width: 100%;

    p {
      @include text(500, 12px, 15.6px);
      margin: 0 7.5% 0 0;

      &:first-of-type {
        width: 27.3%
      }

      &:last-of-type {
        margin: 0;
        width: 25.7%
      }
    }
  }

  @include mobile {
    width: 98.7%;
    justify-content: space-between;

    p {
      width: 24%;
      text-align: center;
      white-space: initial;
    }
  }
}
