.catalog {
  margin: 0 auto;
  padding: 80px 0 75px;

  width: calc(100% - 40px);
  max-width: 1170px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include tablet {
    padding: 50px 0 75px;
    width: calc(100% - 90px);
  }

  @include mobile {
    padding: 40px 0 65px;
    width: calc(100% - 30px);
  }
}

.catalog__filter-btn {
  display: none;

  @include tablet {
    margin: 0 0 50px 0;
    display: block;
    width: 100%;
  }

  @include mobile {
    margin: 0 0 40px 0;
  }
}

.catalog__filter {
  width: 21.37%;

  z-index: 15;

  @include tablet {
    background-color: $white;
    width: 442px;
    box-sizing: border-box;

    &--opened {
      display: block;
    }
  }

  @include mobile {
    width: 280px;
  }
}

.catalog__filter-close {
  display: none;

  @include tablet {
    position: absolute;
    top: -18px;
    right: -22px;
    display: block;

    background-color: transparent;
    border: none;
  }

  @include mobile {
    right: -11px;
  }
}

.catalog__filter-fix {
  position: fixed;
  overflow: hidden;
}

.catalog__filter-wrap {
  margin: 0 0 35px 0;

  @include tablet {
    margin: 0 0 40px 0;
  }

  @include mobile {
    margin: 0 0 30px 0;
  }
}

.catalog__filter-form {
  width: 100%;
}

.catalog__filter-title {
  padding: 0 0 23px 0;

  display: flex;
  justify-content: space-between;

  h3 {
    @include reset;
    @include text(500, 16px, 130%);
  }

  @include tablet {
    h3 {
      @include text(500, 18px, 130%);
    }
  }
}

.catalog__filter-button {
  @include reset;

  position: relative;

  width: 15px;
  height: 10px;

  &::before {
    @include pseudo;
    top: 5px;
    left: 2px;

    width: 15px;
    height: 10px;
    background-image: url("../img/arrow-down-icon.svg");
    background-repeat: no-repeat;
    background-position: right;
  }

  @include tablet {
    width: 23px;
    height: 12px;

    &::before {
      width: 23px;
      height: 12px;
      background-image: url("../img/arrow-down-icon-tablet.svg");
    }
  }
}

.catalog__filter-product {
  padding: 24px 10% 0;
  border: 1px solid $brown;
  border-bottom: none;

  &:last-of-type {
    padding: 24px 10% 0;
    border-bottom: 1px solid $brown;
  }

  @include tablet {
    margin: 0;
    padding: 35px 9% 10px;
    border: none;
    border-bottom: 1px solid $brown;

    &:first-of-type {
      padding: 35px 9% 0;
    }

    &:last-of-type {
      padding: 35px 9% 0;
    }
  }

  @include mobile {
    padding: 25px 9% 0;

    &:first-of-type {
      padding: 25px 9% 0;
    }

    &:last-of-type {
      padding: 25px 9% 0;
    }
  }
}

.catalog__filter-field {
  padding: 0 10px 26px;

  &--range {
    padding: 3px 0 18px 0;
  }

  @include tablet {
    padding: 0 10px 35px;

    &--range {
      padding: 10px 0 33px 0;
    }
  }

  @include mobile {
    padding: 0 10px 25px;

    &--range {
      padding: 10px 0 25px 0;
    }
  }
}

.catalog__filter-item {
  @include text(500, 14px, 130%);

  margin: 0 0 12.5px 0;

  display: flex;
  align-items: center;

  &:last-of-type {
    margin: 0;
  }

  @include tablet {
    @include text(500, 16px, 130%);

    margin: 0 0 18.5px 0;

    span {
      padding: 0 0 0 15px;
    }
  }
}

.catalog__filter__check-field {
  padding: 0 0 0 24px;
  position: relative;

  &::before {
    @include pseudo;
    top: -7.5px;
    left: 0;

    width: 15px;
    height: 15px;

    border: 1px solid $brown;
    box-sizing: border-box;
  }

  @include tablet {
    &::before {
      top: -10px;
      width: 18px;
      height: 18px;
    }
  }
}

.catalog__filter-item input:checked + .catalog__filter__check-field::before {
  background-color: $brown;
}

.catalog__filter-controls {
  position: relative;
}

.catalog__filter-scale {
  width: 200px;
  height: 1px;
  background-color: #f0eae4;

  @include tablet {
    width: 304px;
  }

  @include mobile {
    width: 250px;
  }
}

.catalog__filter-bar {
  position: absolute;
  top: 0;
  left: 50px;
  width: 100px;
  height: 1px;
  background-color: $brown;

  @include tablet {
    left: 75px;
    width: 158px;
  }

  @include mobile {
    left: 50px;
    width: 120px;
  }
}

.catalog__filter-price-controls {
  padding: 12px 0 0 37px;
  display: flex;
  justify-content: space-between;

  @include tablet {
    padding: 16px 0 0 45px;
  }

  @include tablet {
    padding: 16px 0 0 20px;
  }
}

.catalog__filter-price {
  @include text(500, 14px, 130%);
  color: $dark;

  input {
    padding: 0;
    width: 20px;

    border: none;
    background-color: transparent;
  }

  @include tablet {
    @include text(500, 16px, 130%);

    input {
      width: 100px;
    }
  }

  @include mobile {
    input {
      width: 30px;
    }
  }
}

.catalog__filter-toggle {
  position: absolute;
  top: -7px;
  left: 0;

  width: 15px;
  height: 15px;
  border-radius: 50%;

  background-color: $brown;

  &--min {
    left: 45px;
  }

  &--max {
    left: 150px;
  }

  @include tablet {
    width: 18px;
    height: 18px;

    &--min {
      left: 55px;
    }

    &--max {
      left: 230px;
    }
  }

  @include mobile {
    &--min {
      left: 30px;
    }

    &--max {
      left: 167px;
    }
  }
}

.catalog__filter-submit {
  margin: 0 auto 25px;

  width: 100%;
  text-align: center;
  letter-spacing: 0.05em;

  @include tablet {
    width: 362px;
  }

  @include mobile {
    width: 230px;
    margin: 0 auto 20px;
  }
}

.catalog__filter-clear {
  width: 100%;

  @include tablet {
    display: block;
    width: 362px;
    margin: 0 auto 40px;
  }

  @include mobile {
    width: 230px;
    margin: 0 auto 20px;
  }
}

.catalog__products {
  width: 74.36%;

  @include tablet {
    width: 100%;
  }
}

.catalog__products-wrap {
  margin: 0 0 37px 0;

  width: 100%;
  display: flex;
  flex-wrap: wrap;

  @include mobile {
    margin: 0 0 17px 0;
  }
}

.catalog__products-item {
  margin: 0 3.45% 35px 0;
  display: block;

  width: 31.03%;

  &:nth-of-type(3n) {
    margin: 0 0 35px 0;
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }

  h3 {
    margin: 0 0 5px 0;
  }

  @include tablet {
    margin: 0 4.42% 35px 0;
  }

  @include mobile {
    margin: 0 10.35% 26px 0;

    &:nth-of-type(3n) {
      margin: 0 10.35% 26px 0;
    }

    &:nth-of-type(2n) {
      margin: 0 0 26px 0;
    }

    h3 {
      margin: 0 0 5px 3px;
      max-width: 127px;
    }
  }
}

.catalog__products-picture {
  margin: 0 0 17px 0;

  max-width: 100%;
  height: auto;

  display: block;

  @include tablet {
    width: 206px;
    height: 208px;
  }

  @include mobile {
    margin: 0 0 12px 0;

    width: 130px;
    height: 136px;
  }
}

.catalog__products-prev,
.catalog__products-next {
  @include text(500, 16px, 130%);

  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }

  @include mobile {
    display: none;
  }
}

.catalog__products-num {
  padding: 0 31px 0 0;
  width: 100%;
  text-align: center;

  @include mobile {
    padding: 0;
  }
}

.catalog__products-pagination-link {
  margin: 0 9px 0 0;

  &:last-of-type {
    margin: 0;
  }

  @include mobile {
    margin: 0 19px 0 0;

    &:last-of-type {
      margin: 0;
    }
  }
}
