.follow {
  padding: 0 0 130px 0;

  h2 {
    margin: 0 0 20px 0;
    letter-spacing: 0.03em;
  }

  @include tablet {
    padding: 0 0 80px 0;
  }

  @include mobile {
    padding: 0 0 70px 0;
  }
}

.follow__link {
  margin: 0 0 65px 0;

  @include mobile {
    margin: 0 0 50px 0;
  }
}

.follow__wrap {
  display: flex;
  flex-wrap: wrap;

  @include mobile {
    justify-content: center;
  }
}

.follow__list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  &:first-of-type {
    margin: 0 2.56% 0 0;
    width: 19.66%;
  }

  &:nth-of-type(2) {
    margin: 0 2.56% 0 0;
    width: 34.19%;
  }

  &:nth-of-type(3) {
    margin: 0;
    width: 19.83%;
  }

  &:last-of-type {
    margin: 0 0 0 1.28%;
    width: 19.83%;
  }

  @include mobile {
    &:first-of-type {
      margin: 0 5.17% 9px 0;
      width: 44.83%;
    }

    &:nth-of-type(2) {
      align-items: flex-end;
      margin: 0 0 15px 0;

      width: 50%;
    }

    &:nth-of-type(3) {
      width: 100%;
      flex-direction: row-reverse;
      align-items: flex-end;
    }

    &:last-of-type {
      display: none;
    }
  }
}

.follow__picture-wrap {
  @include mobile {
    justify-content: center;
    width: 100%;
    display: flex;

    &--card {
      width: 44.83%;
    }

    &--hand {
      width: 50%;
    }

    &--right {
      justify-content: flex-end;
    }

    &--left {
      justify-content: flex-start;
    }
  }
}

.follow__picture {
  display: block;

  max-width: 100%;
  height: auto;

  &--fifth {
    margin: 0 6.03% 0 0;
    max-width: 93.97%;
  }

  &--sixth {
    margin: 0 0 0 6.03%;
    max-width: 93.97%;
  }

  @include tablet {
    &--first {
      width: 133px;
      height: 133px;
    }

    &--second {
      width: 133px;
      height: 89px;
    }

    &--third {
      width: 231px;
      height: 240px;
    }

    &--fourth {
      width: 134px;
      height: 111px;
    }

    &--fifth {
      width: 126px;
      height: 111px;
    }

    &--sixth {
      width: 126px;
      height: 126px;
    }

    &--seventh {
      width: 134px;
      height: 96px;
    }
  }

  @include mobile {
    &--first {
      width: 130px;
      height: 130px;
    }

    &--second {
      width: 130px;
      height: 87px;
    }

    &--third {
      width: 145px;
      height: 226px;
    }

    &--fourth {
      width: 145px;
      height: 121px;
    }

    &--fifth {
      margin: 0;
      max-width: 100%;
      width: 130px;
      height: 115px;
    }
  }
}
