.modal {
  display: none;

  position: fixed;

  z-index: 20;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &--filter {
    display: block;
    position: initial;
    transform: none;
  }

  &--login {
    z-index: 25;
  }

  &--show {
    display: block;
  }

  @include tablet {
    &--filter {
      display: none;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      z-index: 20;
    }

    &--show {
      display: block;
    }

  }
}

.modal__fix {
  position: fixed;
  overflow-y: hidden;
}
