.overlay {
  display: none;

  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;

  opacity: 0.5;

  &--login {
    background-color: $white;
    opacity: 1;
    z-index: 16;
  }

  &--filter {
    background-color: #f0eae4;
  }

  &--card {
    background-color: $grey;
  }

  &--show {
    display: block;
  }
}
