.pagination {
  margin: 0 auto;
  overflow: hidden;

  display: flex;
  justify-content: space-between;

  @include tablet {
    overflow: visible;
  }
}

.pagination__link {
  @include text(500, 16px, 130%);
  margin: 0 12px 0 0;
  color: $grey;

  display: inline-block;
  vertical-align: top;

  cursor: pointer;

  &:last-of-type {
    margin: 0;
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus,
  &:active {
    color: $dark;
  }
}
