.promo {
  padding: 120px 0 115px;

  h2 {
    line-height: 100%;
  }

  @include tablet {
    padding: 70px 0 65px;

    &--card {
      padding: 70px 0 65px;
    }
  }

  @include mobile {
    padding: 60px 0 55px;

    &--card {
      padding: 58px 0 63px;
    }
  }
}

.promo__link {
  margin: 0 0 3px 0;

  &--card {
    margin: -5px 0 10px 0;
  }

  @include tablet {
    margin: -2px 0 0 0;
  }

  @include mobile {
    &--card {
      margin: 20px 0 -10px 0;
    }
  }
}

.promo__arrow-wrap {
  margin: -7px 0 6px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include tablet {
    margin: -5px 0 0 0;
  }

  @include mobile {
    display: none;
  }
}

.promo__arrow {
  width: 36px;
  height: 21px;
}

.promo__list {
  @include list-reset;

  display: flex;
  justify-content: space-between;

  @include tablet {
    width: 100%;
    overflow: hidden;
  }
}

.promo__item {
  margin: 55px 30px 52px 0;

  &:nth-of-type(4n) {
    margin: 55px 0 52px;
  }

  @include tablet {
    margin: 55px 30px 43px 0;

    &:nth-of-type(2n) {
      margin: 55px 0 43px;
    }
  }

  @include mobile {
    margin: 55px 30px 33px 0;

    &:nth-of-type(2n) {
      margin: 55px 0 33px;
    }
  }
}

.promo__picture {
  margin: 0 0 18px 0;

  @include tablet {
    margin: 0 0 15px 0;
    width: 324px;
    height: 340px;
  }

  @include mobile {
    margin: 0 0 12px 0;
    width: 130px;
    height: 136px;
  }
}

.promo h3 {
  margin: 0 0 5px 0;
}

.promo__pagination {
  width: 48px;

  @include tablet {
    width: 118px;
  }

  @include mobile {
    width: 48px;
  }
}
