$grey: #9b9997;
$black: #000000;
$dark: #1d1613;
$brown: #a87B62;
$white: #ffffff;
$bg-gray: #f0eae4;
$font-main: "Poppins", "Arial", sans-serif;
$font-weight: 400;
$text-size: 16px;
$line-height: 20.8px;
$tablet-max: 1023px;
$mobile-max: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
